DATABASE_URL="postgres://USER:PASSWORD@HOST:5432/seai_solar_grants?sslmode=require"
OPENAI_API_KEY=""
APP_URL="http://localhost:3000"
DEFAULT_INSTALLER_ID="demo-installer"
DEFAULT_INSTALLER_NAME="Demo Solar"
DEFAULT_INSTALLER_SEAI_ID="SEAI-12345"
DEFAULT_INSTALLER_WEBSITE_DOMAIN="demo-solar.ie"
DEFAULT_INSTALLER_COUNTY="Dublin"

ADMIN_PASSWORD=admin123
ADMIN_SESSION_SECRET=replace-this-session-secret

EMAIL_USER=""
EMAIL_PASS=""

TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_PHONE_NUMBER=""
INSTALLER_PHONE_NUMBER=""
